{% for i in chat %}
    {% if i.0 == request.session.username %}
        <li class="text-right list-group-item">{{ i.2}}</li>
    {% else %}
        <li class="text-left list-group-item">{{ i.2}}</li>
    {% endif %}
{% empty %}
    <li class="text-right list-group-item">No messages yet!</li>
{% endfor %}
